# Basic SQL

In this project, we need to analyze data about funds and investments and write queries to the database.

![Database Schema](basic_sql_project_ERD.png)

Contains information about purchases of one company by another. The table includes the following fields:

- Primary key 'id' — the identifier or unique number of the purchase.
- Foreign key 'acquiring_company_id' — references the company table — the identifier of the acquiring company, i.e., the one purchasing another company.
- Foreign key 'acquired_company_id' — references the company table — the identifier of the company being purchased.
- 'term_code' — the method of payment for the transaction:
    - 'cash' — in cash;
    - 'stock' — in company stocks;
    - 'cash_and_stock' — a mixed type of payment: cash and stocks.
- 'price_amount' — the purchase amount in dollars.
- 'acquired_at' — the date of the transaction.
- 'created_at' — the date and time the record was created in the table.
- 'updated_at' — the date and time the record was updated in the table.

__company__ - Contains information about startup companies.

- Primary key 'id' — the identifier or unique number of the company.
- 'name' — the name of the company.
- 'category_code' — the category of the company's activities, e.g.:
    - 'news' — specializes in news-related activities;
    - 'social' — specializes in social work.
- 'status' — the company's status:
    - 'acquired' — acquired;
    - 'operating' — operating;
    - 'ipo' — went public through IPO;
    - 'closed' — no longer exists.
- 'founded_at' — the date the company was founded.
- 'closed_at' — the date the company was closed (if applicable).
- 'domain' — the company's website domain.
- 'network_username' — the fund's profile on the stock exchange's corporate network.
- 'country_code' — the country code, e.g., USA for the United States, GBR for the United Kingdom.
- 'investment_rounds' — the number of rounds in which the company participated as an investor.
- 'funding_rounds' — the number of rounds in which the company attracted investments.
- 'funding_total' — the total amount of investments raised in dollars.
- 'milestones' — the number of significant milestones in the company's history.
- 'created_at' — the date and time the record was created in the table.
- 'updated_at' — the date and time the record was updated in the table.

__education__ - Stores information about the education level of company employees.

- Primary key 'id' — the unique record number containing education information.
- Foreign key 'person_id' — references the people table — the identifier of the person whose information is represented in the record.
- 'degree_type' — the type of educational degree, e.g.:
    - 'BA' — Bachelor of Arts.
    - 'MS' — Master of Science.
- 'instituition' — the educational institution, the university name.
- 'graduated_at' — the date of completion of education.
- 'created_at' — the date and time the record was created in the table.
- 'updated_at' — the date and time the record was updated in the table.

__fund__ - Stores information about venture funds.

- Primary key 'id' — the unique number of the venture fund.
- 'name' — the name of the venture fund.
- 'founded_at' — the date the fund was founded.
- 'domain' — the fund's website domain.
- 'network_username' — the fund's profile on the stock exchange's corporate network.
- 'country_code' — the country code of the fund.
- 'investment_rounds' — the number of investment rounds in which the fund participated.
- 'invested_companies' — the number of companies in which the fund invested.
- 'milestones' — the number of significant milestones in the fund's history.
- 'created_at' — the date and time the record was created in the table.
- 'updated_at' — the date and time the record was updated in the table.

__funding_round__ - Contains information about investment rounds.

- Primary key 'id' — the unique number of the investment round.
- Foreign key 'company_id' — references the company table — the unique number of the company participating in the investment round.
- 'funded_at' — the date of the funding round.
- 'funding_round_type' — the type of investment round, e.g.:
    - 'venture' — venture round.
    - 'angel' — angel round.
    - 'series_a' — A round.
- 'raised_amount' — the amount of investments raised by the company in this round in dollars.
- 'pre_money_valuation' — the pre-investment valuation of the company in dollars.
- 'participants' — the number of participants in the investment round.
- 'is_first_round' — whether this round is the first for the company.
- 'is_last_round' — whether this round
- 'created_at' — the date and time the record was created in the table.
- 'updated_at' — the date and time the record was updated in the table.

__investment__ - Contains information about venture fund investments in startup companies.

- Primary key 'id' — the unique investment number.
- Foreign key 'funding_round_id' — references the funding_round table — the unique number of the investment round.
- Foreign key 'company_id' — references the company table — the unique number of the startup company being invested in.
- Foreign key 'fund_id' — references the fund table — the unique number of the fund investing in the startup company.
- 'created_at' — the date and time the record was created in the table.
- 'updated_at' — the date and time the record was updated in the table.

__people__ - Contains information about employees of startup companies.

- Primary key 'id' — the unique employee number.
- 'first_name' — the employee's first name.
- 'last_name' — the employee's last name.
- Foreign key 'company_id' — references the company table — the unique number of the startup company.
- 'network_username' — the profile of the fund on the stock exchange's corporate network.
- 'created_at' — the date and time the record was created in the table.
- 'updated_at' — the date and time the record was updated in the table.

1. Display all records from the company table for companies that have closed.

In [ ]:
SELECT *
FROM company
WHERE status='closed';

2. Display the amount of funds raised for news companies in the USA. Use data from the company table. Sort the table in descending order based on the values in the funding_total field.

In [ ]:
SELECT funding_total
FROM company
WHERE category_code = 'news' AND country_code = 'USA'
--GROUP BY funding_total
ORDER BY funding_total DESC;

3. Find the total amount of transactions for the acquisition of companies by others in dollars. Select transactions that were conducted exclusively in cash from 2011 to 2013 inclusive.

In [ ]:
SELECT SUM(price_amount)
FROM acquisition
WHERE EXTRACT(YEAR FROM acquired_at::date) BETWEEN '2011' AND '2013'
      AND term_code='cash';

4. Display the first name, last name, and account names of people in the network_username field whose account names start with 'Silver'.

In [ ]:
SELECT first_name,
       last_name,
       network_username
FROM people
WHERE network_username LIKE 'Silver%';

5. Display all information about individuals whose account names in the network_username field contain the substring 'money' and whose last name begins with 'K'.

In [ ]:
SELECT *
FROM people
WHERE network_username LIKE '%money%' AND last_name LIKE 'K%'

6. For each country, display the total amount of attracted investments received by companies registered in that country. The country in which the company is registered can be determined by the country code. Sort the data in descending order of the total amount.

In [ ]:
SELECT country_code,
       SUM(funding_total) AS total_funds
FROM company
GROUP BY country_code
ORDER BY total_funds DESC;

7. Create a table that includes the round date, as well as the minimum and maximum values of the investment amount raised on that date. Leave in the final table only those records where the minimum investment amount is not equal to zero and is not equal to the maximum amount.

In [ ]:
SELECT funded_at,
       MIN(raised_amount) AS min_raised,
       MAX(raised_amount) AS max_raised
FROM funding_round
GROUP BY funded_at
HAVING MIN(raised_amount) != 0 AND MIN(raised_amount) != MAX(raised_amount);

8. Create a field with categories:

- For funds that invest in 100 or more companies, assign the category high_activity.
- For funds that invest in 20 or more companies up to 100, assign the category middle_activity.
- If the number of companies invested in by a fund is less than 20, assign the category low_activity.

Display all fields from the fund table and the new field with categories.

In [ ]:
SELECT *,
       CASE
           WHEN invested_companies >= 100 THEN 'high_activity'
           WHEN invested_companies >=20 AND invested_companies <100 THEN 'middle_activity'
           WHEN invested_companies <20 THEN 'low_activity'
       END AS activity
FROM fund;

9. For each of the categories assigned in the previous task, calculate the rounded average number of investment rounds in which the fund participated. Display the categories and the average number of investment rounds. Sort the table in ascending order of the average.

In [ ]:
SELECT ROUND(AVG(investment_rounds)) AS avg_rounds,
       CASE
           WHEN invested_companies>=100 THEN 'high_activity'
           WHEN invested_companies>=20 THEN 'middle_activity'
           ELSE 'low_activity'
       END AS activity
FROM fund
GROUP BY activity
ORDER BY avg_rounds ASC;

10. Analyze which countries host funds that most frequently invest in startups. For each country, calculate the minimum, maximum, and average number of companies in which funds from that country invested, based on the years 2010 to 2012 inclusive. Exclude countries with funds where the minimum number of companies receiving investments is zero. Retrieve the top ten most active investing countries: sort the table in descending order of the average number of companies and then add sorting by country code in lexicographic order.

In [ ]:
SELECT MIN(invested_companies) AS min_invested_companies,
       MAX(invested_companies) AS max_invested_companies,
       AVG(invested_companies) AS avg_invested_companies,
       country_code
FROM fund
WHERE EXTRACT(YEAR FROM founded_at) BETWEEN '2010' AND '2012'
GROUP BY country_code
HAVING MIN(invested_companies) != 0
ORDER BY AVG(invested_companies) DESC, country_code
LIMIT 10;

11. Display the first and last names of all startup employees. Add a field with the name of the educational institution that the employee graduated from, if this information is available.

In [ ]:
SELECT p.first_name,
       p.last_name,
       e.instituition
FROM people AS p LEFT JOIN education AS e ON p.id=e.person_id;

12. For each company, find the number of educational institutions that its employees have graduated from. Display the company name and the count of unique educational institution names. Compile the top 5 companies based on the number of universities.

In [ ]:
SELECT c.name,
       COUNT(DISTINCT e.instituition)
FROM company AS c 
    JOIN people AS p ON c.id=p.company_id 
    JOIN education AS e ON p.id=e.person_id
GROUP BY c.name
ORDER BY COUNT(e.instituition) DESC
LIMIT 5;

13. Compile a list of unique names of closed companies for which the first funding round turned out to be the last.

In [ ]:
SELECT DISTINCT c.name
FROM company AS c 
    JOIN funding_round AS fr ON c.id=fr.company_id
WHERE c.status='closed' AND is_first_round=1 AND is_last_round=1;

14. Compile a list of unique employee numbers who work in the companies selected in the previous task.

In [ ]:
SELECT DISTINCT id
FROM people
WHERE company_id IN (SELECT DISTINCT c.id
                     FROM company AS c 
                         JOIN funding_round AS fr ON c.id=fr.company_id
                     WHERE c.status='closed' AND is_first_round=1 AND is_last_round=1);

15. Create a table that includes unique pairs with employee numbers from the previous task and the educational institution that the employee graduated from.

In [ ]:
SELECT DISTINCT p.id,
       e.instituition
FROM people AS p
    JOIN education AS e ON p.id=e.person_id
WHERE company_id IN (SELECT DISTINCT c.id
                     FROM company AS c 
                         JOIN funding_round AS fr ON c.id=fr.company_id
                     WHERE c.status='closed' AND is_first_round=1 AND is_last_round=1);

16. Count the number of educational institutions for each employee from the previous task. When counting, consider that some employees may have graduated from the same institution more than once.

In [ ]:
SELECT DISTINCT p.id,
       COUNT(e.instituition)
FROM people AS p
    JOIN education AS e ON p.id=e.person_id
WHERE company_id IN (SELECT DISTINCT c.id
                     FROM company AS c 
                         JOIN funding_round AS fr ON c.id=fr.company_id
                     WHERE c.status='closed' AND is_first_round=1 AND is_last_round=1)
GROUP BY p.id;

17. Extend the previous query and output the average number of educational institutions (all, not just unique ones) that employees from different companies have graduated from. Display only one record; grouping is not required here.

In [ ]:
SELECT AVG(count)
FROM (SELECT DISTINCT p.id,
           COUNT(e.instituition) AS count
    FROM people AS p
        JOIN education AS e ON p.id=e.person_id
    WHERE company_id IN (SELECT DISTINCT c.id
                         FROM company AS c 
                             JOIN funding_round AS fr ON c.id=fr.company_id
                         WHERE c.status='closed' AND is_first_round=1 AND is_last_round=1)
    GROUP BY p.id) AS subquery;

18. Write a similar query: output the average number of educational institutions (all, not just unique ones) that employees of Socialnet have graduated from.

In [ ]:
SELECT AVG(count)
FROM (SELECT p.id,
           COUNT(e.instituition) AS count
    FROM people AS p
        JOIN education AS e ON p.id=e.person_id
    WHERE p.company_id IN (SELECT DISTINCT c.id
                         FROM company AS c 
                             JOIN funding_round AS fr ON c.id=fr.company_id
                         WHERE c.name='Socialnet')
    GROUP BY p.id) AS subquery;

19. Create a table with the following fields:

- name_of_fund – name of the fund;
- name_of_company – name of the company;
- amount – the amount of investment the company attracted in the round.

Include data about companies that have had more than six significant stages in their history, and financing rounds occurred from 2012 to 2013, inclusive.

In [ ]:
SELECT DISTINCT f.name AS name_of_fund,
       c.name AS name_of_company,
       fr.raised_amount AS amount
FROM investment AS i
    JOIN company AS c ON i.company_id=c.id 
    JOIN fund AS f ON i.fund_id=f.id
    JOIN funding_round AS fr ON i.funding_round_id=fr.id
WHERE c.milestones > 6
    AND EXTRACT(YEAR FROM fr.funded_at::date) BETWEEN 2012 AND 2013
GROUP BY f.name, c.name, fr.raised_amount;

20. Retrieve a table with the following fields:

- Buyer company name;
- Deal amount;
- Acquired company name;
- Investment amount in the acquired company;
- A ratio indicating how many times the purchase amount exceeds the amount invested in the company, rounded to the nearest whole number.

Exclude transactions where the purchase amount is zero. If the investment amount in the company is zero, exclude that company from the table. Sort the table by the deal amount from largest to smallest, then by the name of the acquired company in lexicographical order. 

Limit the table to the first ten entries.

In [ ]:
WITH acquiring AS (
    SELECT c.name AS name, a.acquiring_company_id
    FROM acquisition AS a
    JOIN company AS c ON a.acquiring_company_id = c.id
),
acquired AS (
    SELECT c.name AS name, a.acquired_company_id, c.funding_total
    FROM acquisition AS a
    JOIN company AS c ON a.acquired_company_id = c.id
)

SELECT DISTINCT acquiring.name AS acquiring_company,
       a.price_amount AS price_amount,
       acquired.name AS acquired_company,
       acquired.funding_total AS funding_total,
       ROUND(a.price_amount / acquired.funding_total) AS perc
FROM acquisition AS a
LEFT OUTER JOIN acquiring ON a.acquiring_company_id = acquiring.acquiring_company_id
LEFT OUTER JOIN acquired ON a.acquired_company_id = acquired.acquired_company_id
WHERE a.price_amount != 0 AND acquired.funding_total != 0
GROUP BY a.price_amount, acquired.funding_total, acquiring.name, acquired.name
ORDER BY price_amount DESC, acquired_company ASC
LIMIT 10;

21. Retrieve a table that includes the names of companies from the social category that received funding from 2010 to 2013, inclusive. Ensure that the investment amount is not equal to zero. Also, display the month number in which the financing round took place.

In [ ]:
SELECT c.name,
       EXTRACT(MONTH FROM fr.funded_at::date) AS month
FROM company AS c LEFT JOIN funding_round AS fr ON c.id=fr.company_id
WHERE category_code='social' 
    AND EXTRACT(YEAR FROM fr.funded_at::date) BETWEEN 2010 AND 2013
    AND fr.raised_amount <> 0;

22. Select data for the months from 2010 to 2013 when investment rounds took place. Group the data by the month number and create a table with the following fields:

- Month number in which the rounds took place;
- The count of unique names of funds from the USA that invested in that month;
- The count of companies acquired in that month;
- The total amount of deals for acquisitions in that month.

In [ ]:
WITH fundings AS
    (SELECT EXTRACT(MONTH FROM fr.funded_at::date) AS funding_month,
    COUNT(DISTINCT f.id) AS us_funds
    FROM fund AS f
    JOIN investment AS i ON f.id = i.fund_id
    JOIN funding_round AS fr ON i.funding_round_id = fr.id
    WHERE f.country_code = 'USA'
    AND EXTRACT(YEAR FROM fr.funded_at::date) BETWEEN 2010 AND 2013
    GROUP BY funding_month),
acquisitions AS
    (SELECT EXTRACT(MONTH FROM acquired_at::date) AS funding_month,
    COUNT(acquired_company_id) AS bought_co,
    SUM(price_amount) AS sum_total
    FROM acquisition
    WHERE EXTRACT(YEAR FROM acquired_at::date) BETWEEN 2010 AND 2013
    GROUP BY funding_month)
SELECT fnd.funding_month,
       fnd.us_funds,
       acq.bought_co,
       acq.sum_total
FROM fundings AS fnd
LEFT JOIN acquisitions AS acq ON fnd.funding_month = acq.funding_month;

23. Create a pivot table and output the average investment amount for countries where there are startups registered in 2011, 2012, and 2013. Data for each year should be in a separate field. Sort the table by the average investment value for the year 2011 from highest to lowest.

In [ ]:
WITH y_11 AS (
    SELECT country_code AS country,
    AVG(funding_total) AS y_2011
    FROM company
    WHERE EXTRACT(YEAR FROM founded_at::date) IN (2011, 2012, 2013)
    GROUP BY country, EXTRACT(YEAR FROM founded_at)
    HAVING EXTRACT(YEAR FROM founded_at) = '2011'),
y_12 AS (
    SELECT country_code AS country,
    AVG(funding_total) AS y_2012
    FROM company
    WHERE EXTRACT(YEAR FROM founded_at::date) IN(2011, 2012, 2013)
    GROUP BY country, EXTRACT(YEAR FROM founded_at)
    HAVING EXTRACT(YEAR FROM founded_at) = '2012'),
y_13 AS (
    SELECT country_code AS country,
    AVG(funding_total) AS y_2013
    FROM company
    WHERE EXTRACT(YEAR FROM founded_at::date) IN(2011, 2012, 2013)
    GROUP BY country, EXTRACT(YEAR FROM founded_at)
    HAVING EXTRACT(YEAR FROM founded_at) = '2013')
SELECT y_11.country,
       y_2011,
       y_2012,
       y_2013
FROM y_11
JOIN y_12 ON y_11.country = y_12.country
JOIN y_13 ON y_12.country = y_13.country
ORDER BY y_2011 DESC;